# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.ipynb_checkpoints/
.env
.venv/
env/
venv/
pip-wheel-metadata/
*.egg-info/
*.egg
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ===========================
# R
# ===========================
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rproj.user/*
*.Rhistory
*.Rapp.history

# RStudio files
.Rproj.user/
*.Rproj
.Rproj.user/
.rscreenshot
.Rhistory
.RData

# Packrat
packrat/lib*/
packrat/src/

# renv
renv/library/
renv/staging/

# ===========================
# MATLAB
# ===========================
*.asv       # Autosave files
*.m~        # Backup files
*.mat       # Binary MAT-files (if generated & not commit-worthy)
*.mltbx     # MATLAB toolboxes
*.mex*      # Compiled MEX binaries

# ===========================
# OS / Editor / Misc
# ===========================
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp

# ===========================
# Raw Data
# ===========================
Raw data/
Raw data/*

# ===========================
# Word files
# ===========================
*.docx
*.doc

# ===========================
# Bin & Lib folder
# ===========================
**/bin/
**/lib/
**/lib64/
*.cfg
esemenyelemzes_beadando_2025/lib64

# ===========================
# myenv
# ===========================
myenv/
myenv/*
